@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.gamesContainer {
  position: absolute;
  width: 80%;
  margin-left: 10%;
}

.listDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  
  color: black;
  width: 100%;
  border: 2px #5995fd solid;
  outline: none;
  font-size: 1.5em;
  border-radius: 15px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
}

.title {
  font-size: 2.5rem;
  color: #444;
  margin: 10px auto;
  text-align: center;
}

@media (max-width: 870px) {

  .listDiv {
    font-size: 1.2em;
  }
}

.align-center {
  margin: 0 auto;
}

.game-data-inner {
  display: none;
}

.show-data {
  display: block;
}