@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.gamesContainer {
  position: absolute;
  width: 80%;
  margin-left: 10%;
}

.listDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  
  background-color: #5995fd;
  color: #fff;
  width: 100%;
  outline: none;
  font-size: 1.5em;
  border-radius: 25px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
  min-height: 75px;
}

.btn {
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 75px;
  font-size: 1.5rem;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  display: block;
  width: 100%;
  margin: 10px auto;
}

.title {
  font-size: 2.5rem;
  color: #444;
  margin: 10px auto;
  text-align: center;
}

.align-center {
  margin: 0 auto;
}

.question-data {
  display: none;
  color: black;
  background-color: #fff;
  margin: 2px;
  border-radius: 25px;
}

.show-data {
  display: block;
}

p {
  margin: auto 20px;
}

@media (max-width: 870px) {

  .btn {
    height: 50px;
    font-size: 1.2rem;
  }

  .listDiv {
    min-height: 50px;
    font-size: 1.2rem;
  }
}


@media (max-width: 570px) {
  .btn, .listDiv {
    font-size: 1rem;
  }
}