@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Edge, Opera and Firefox */
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.button-list {
  width: 60vw;
  margin-left: 20vw;
  margin-bottom: 15px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.btn {
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 75px;
  font-size: 1.5rem;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  display: inline;
  width: 100%;
  margin: 10px 0;
}

.image {
  margin: 10px;
  height: 30vh;
}

.image_div {
  background-color: #bbd4ff;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  margin-bottom: 10px;
}

.align-center {
  display: flex;
  justify-content: center;
}

@media (max-width: 870px) {

  .button-list {
    width: 80vw;
    margin-left: 10vw;
  }
  
  .btn {
      height: 50px;
      font-size: 1.2rem;
  }
}

@media (max-width: 570px) {
  .btn {
      font-size: 1rem;
  }
}
