@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.title {
  font-size: 2.5rem;
  color: #444;
  margin: 10px auto;
  text-align: center;
  overflow:auto;
}

.button-div {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 75px;
  font-size: 1.5rem;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  display: inline;
  width: 49%;
}

.btn:hover {
  background-color: #4d84e2;
}

.btn:hover {
  background-color: #4d84e2;
}

.input-field {
  width: 40%;
  background-color: #f0f0f0;
  margin: 10px auto;
  height: 75px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  font-size: 1.2rem;
}
  
.input-field i {
  text-align: center;
  line-height: 75px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}
  
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field.options {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

@media (max-width: 800px) {

  .title {
    font-size: 2rem;
  }

  .button-div, .input-field {
    width: 75%;
  }

  .btn {
    height: 50px;
    font-size: 1.2rem;
  }
}
  
@media (max-width: 570px) {
  .container {
    padding: 1.5rem;
  }

  .title {
    font-size: 1.3rem;
  }
  
  .button-div, .input-field {
    width: 100%;
  }

  .btn {
    font-size: 1rem;
  }
}
  
  
.error-message {
  text-align: center;
  color: red;
}

.locked {
  color: red;
}
  
.options {
  margin: auto;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.option {
  display: table-cell;
  text-align: center;
}

p {
  max-width: 380px;
  margin: 10px auto;
  text-align: center;
}
