<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentalist</title>
    <link rel="icon" href="{{ url_for('static', filename='images/brain.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games/game1.css') }}"/>

  </head>
  <body>
    <div class="pre-game" id="pre-game">
        <h1 id="title" class="title">Reação</h1>
        <p>Vamos testar a sua reação.</p>
        <p>Clique o mais rápido que conseguir assim que a cor mudar de azul para laranja.</p>
        {% if record %}
        <p>{{record}}</p>
        {% endif %}
        <div class="button-div">
          <button id="exit-game" class="btn">Sair</button>
          <button id="start-game" class="btn">Começar</button>
        </div>
        
    </div>
    <div class="container" id="container">
        <div class="jogo" id="jogo_div">
            <div class="timer"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/games/game1.js') }}"></script>
  </body>
</html>