<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='js/font-awesome.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games/game1.css') }}"/>
    <title>Parkinson</title>
    <link rel="icon" href="{{ url_for('static', filename='images/brain.ico') }}">
  </head>
  <body>
    <div class="pre-game" id="pre-game">
        <h1>Jogo de reação</h1>
        <p>Clique assim que a cor mudar.</p>
        <button id="start-game">Começar</button>
    </div>
    <div class="container" id="container">
        <div class="jogo" id="jogo_div">
            <div class="timer"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/games/game1.js') }}"></script>
  </body>
</html>