<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentalist</title>
    <link rel="icon" href="{{ url_for('static', filename='images/brain.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games/game4.css') }}"/>
    
  </head>
  <body>
    <div class="pre-game" id="pre-game">
        <h1 id="title" class="title">Desenho</h1>
        <p>É bom a desenhar?</p>
        <p>{{text}}</p>
        {% if record %}
        <p>{{record}}</p>
        {% endif %}
        <div class="button-div">
          <button id="exit-game" class="btn">Sair</button>
          <button id="start-game" class="btn">Começar</button>
        </div>
    </div>
    <div class="container" id="container">
      <div class="pre-game">
        <h1 id="imageType" class="title">{{game}}</h1>
      </div>
      <div class="button-div" id="buttons-draw">
        <button class="btn" id="apagar">Apagar</button>
        <button class="btn" id="guardar">Guardar</button>
      </div>
      <canvas id="canvas" style="background-image: url('../static/images/{{image}}.png')"></canvas>
    </div>

    <script src="{{ url_for('static', filename='js/games/game4.js') }}"></script>

    </body>
</html>