

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentalist</title>
    <link rel="icon" href="{{ url_for('static', filename='images/brain.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games/game6.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  </div>
    </div>
    <div class="pre-game" id="pre-game">
        <h1 id="title" class="title">Falar</h1>
        <p>Como está a sua voz?</p>
        <p>Grave a sua voz para cada uma das letras pedidas durante os 5 segundos.</p>
        <div class="button-div" id="option-div">
          <button id="exit-game" class="btn">Sair</button>
          <button id="start-game" class="btn">Começar</button>
        </div>
        <div class="button-div" id="record-div" style="display:none">
          <button id="record" class="btn">Gravar</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/games/game6.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dependencies/recorder.js') }}"></script>
  </body>
</html>
