<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='js/font-awesome.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/assessment_list.css') }}"
    />
    <title>Parkinson</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/brain.ico') }}"
    />
  </head>
  <body>
    <div class="gamesContainer">
      <div class="title">Jogos:</div>
      <div class="gamesDiv">
        {% if assessmentList %}
            {% for assessment in assessmentList %}
            <div class="listDiv">
                {% for i in range(assessment.questions|length) %}
                    <p>Pergunta {{i}}: {{ assessment.questions[i].answer }}</p>
                {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>Sem dados.</p>
        {% endif %}
      </div>
      <div class="listDiv" id="back">< Voltar</div>
    </div>
    <script src="{{ url_for('static', filename='js/games_list.js') }}"></script>
  </body>
</html>
