<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='js/font-awesome.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/assessment.css') }}"
    />
    <title>Parkinson</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/brain.ico') }}"
    />
  </head>
  <body>
    <div class="container">
      <div action="/assessment" class="sign-up-form" method="POST">
        <h2 class="title" id="title">Responda às seguintes perguntas.</h2>
        <div class="question">
          <p>
            1. Durante a última semana, você teve algum problema para adormecer à noite ou em
            permanecer dormindo durante a noite? Considere o quanto descansado se sentiu
            ao acordar de manhã.
          </p>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="first-answer-0"
              name="first-answer"
              value="0-Normal"
              checked
            />
            <label for="first-answer-0">Sem problemas.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="first-answer-1"
              name="first-answer"
              value="1-Discreta"
            />
            <label for="first-answer-1">Os problemas do sono existem, mas habitualmente não impedem que tenha uma noite de sono completa.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="first-answer-2"
              name="first-answer"
              value="2-Ligeiro"
            />
            <label for="first-answer-2">Os problemas do sono causam habitualmente alguma dificuldade em ter uma noite de sono completa.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="first-answer-3"
              name="first-answer"
              value="3-Moderado"
            />
            <label for="first-answer-3">Os problemas do sono causam muitas dificuldades em ter uma noite de sono completa, mas habitualmente ainda durmo mais de metade da noite.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="first-answer-4"
              name="first-answer"
              value="4-Grave"
            />
            <label for="first-answer-4">Habitualmente não consigo dormir durante a maior parte da noite.</label>
          </div>
        </div>
        <div class="question">
          <p>
            2. Durante a última semana, teve dificuldade em manter-se acordado durante o dia?
          </p>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="second-answer-0"
              name="second-answer"
              value="0-Normal"
              checked
            />
            <label for="second-answer-0">Sem sonolência durante o dia.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="second-answer-1"
              name="second-answer"
              value="1-Discreta"
            />
            <label for="second-answer-1">Tenho sonolência durante o dia, mas consigo resistir e permaneço acordado.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="second-answer-2"
              name="second-answer"
              value="2-Ligeiro"
            />
            <label for="second-answer-2">Por vezes adormeço quando estou sozinho e relaxado. Por exemplo, enquanto leio ou vejo televisão.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="second-answer-3"
              name="second-answer"
              value="3-Moderado"
            />
            <label for="second-answer-3">Por vezes adormeço quando não deveria. Por exemplo, enquanto como ou falo com outras pessoas.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="second-answer-4"
              name="second-answer"
              value="4-Grave"
            />
            <label for="second-answer-4">Adormeço frequentemente quando não deveria. Por exemplo, enquanto como ou falo com outras pessoas.</label>
          </div>
        </div>
        <div class="question">
          <p>
            3. Durante a última semana, teve sensações desconfortáveis no seu corpo tais como
            dor, sensação de ardor, formigamento ou cãimbras?
          </p>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="third-answer-0"
              name="third-answer"
              value="0-Normal"
              checked
            />
            <label for="third-answer-0">Não tenho estas sensações desconfortáveis.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="third-answer-1"
              name="third-answer"
              value="1-Discreta"
            />
            <label for="third-answer-1">Tenho estas sensações desconfortáveis. No entanto, consigo fazer coisas e estar com outras pessoas sem dificuldade</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="third-answer-2"
              name="third-answer"
              value="2-Ligeiro"
            />
            <label for="third-answer-2">Estas sensações causam alguns problemas quando faço coisas ou estou com outras pessoas</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="third-answer-3"
              name="third-answer"
              value="3-Moderado"
            />
            <label for="third-answer-3">Estas sensações causam muitos problemas, mas não me impedem de fazer coisas ou de estar com outras pessoas.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="third-answer-4"
              name="third-answer"
              value="4-Grave"
            />
            <label for="third-answer-4">Estas sensações impedem-me de fazer coisas ou de estar com outras pessoas.</label>
          </div>
        </div>
        <div class="question">
          <p>
            4. Durante a última semana, teve problemas em reter a urina? Por exemplo,
            necessidade urgente em urinar, necessidade de urinar vezes de mais, ou perder
            controlo da urina?
          </p>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="forth-answer-0"
              name="forth-answer"
              value="0-Normal"
              checked
            />
            <label for="forth-answer-0">Sem problemas em reter a urina.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="forth-answer-1"
              name="forth-answer"
              value="1-Discreta"
            />
            <label for="forth-answer-1">Preciso de urinar frequentemente ou tenho urgência em urinar. No entanto, estes problemas não me causam dificuldades nas atividades diárias.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="forth-answer-2"
              name="forth-answer"
              value="2-Ligeiro"
            />
            <label for="forth-answer-2">Os problemas com a urina causam-me algumas dificuldades nas atividades diárias. No entanto, não tenho perdas acidentais de urina.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="forth-answer-3"
              name="forth-answer"
              value="3-Moderado"
            />
            <label for="forth-answer-3">Os problemas com a urina causam-me muitas dificuldades nas atividades diárias, incluindo perdas acidentais de urina.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="forth-answer-4"
              name="forth-answer"
              value="4-Grave"
            />
            <label for="forth-answer-4">Não consigo reter a minha urina e uso uma fralda ou tenho sonda urinária.</label>
          </div>
        </div>
        <div class="question">
          <p>
            5. Durante a última semana, teve problemas de obstipação intestinal (prisão de
            ventre) que lhe tenham causado dificuldade em evacuar?
          </p>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="fifth-answer-0"
              name="fifth-answer"
              value="0-Normal"
              checked
            />
            <label for="fifth-answer-0">Sem obstipação (prisão de ventre).</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="fifth-answer-1"
              name="fifth-answer"
              value="1-Discreta"
            />
            <label for="fifth-answer-1">Tive obstipação (prisão de ventre). Faço um esforço extra para evacuar. No entanto, este problema não perturba as minhas atividades ou o meu conforto.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="fifth-answer-2"
              name="fifth-answer"
              value="2-Ligeiro"
            />
            <label for="fifth-answer-2">A obstipação (prisão de ventre) causa-me alguma dificuldade em fazer coisas ou em estar confortável.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="fifth-answer-3"
              name="fifth-answer"
              value="3-Moderado"
            />
            <label for="fifth-answer-3">A obstipação (prisão de ventre) causa-me muita dificuldade em fazer coisas ou em estar confortável. No entanto, não me impede de fazer o que quer que seja.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="fifth-answer-4"
              name="fifth-answer"
              value="4-Grave"
            />
            <label for="fifth-answer-4">Habitualmente preciso da ajuda física de outra pessoa para evacuar.</label>
          </div>
        </div>
        <div class="question">
          <p>
            6. Durante a última semana, sentiu que iria desmaiar, ficou tonto ou com sensação
            de cabeça vazia quando se levantou, após ter estado sentado ou deitado?            
          </p>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="sixth-answer-0"
              name="sixth-answer"
              value="0-Normal"
              checked
            />
            <label for="sixth-answer-0">Não tenho a sensação de cabeça vazia ou tonturas.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="sixth-answer-1"
              name="sixth-answer"
              value="1-Discreta"
            />
            <label for="sixth-answer-1">Tenho a sensação de cabeça vazia ou de tonturas, mas não me causam dificuldade em fazer coisas.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="sixth-answer-2"
              name="sixth-answer"
              value="2-Ligeiro"
            />
            <label for="sixth-answer-2">A sensação de cabeça vazia ou de tonturas fazem com que tenha de me segurar a alguma coisa, mas não preciso de me sentar ou deitar. </label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="sixth-answer-3"
              name="sixth-answer"
              value="3-Moderado"
            />
            <label for="sixth-answer-3">A sensação de cabeça vazia ou de tonturas fazem com que tenha de me sentar ou deitar para evitar desmaiar ou cair. </label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="sixth-answer-4"
              name="sixth-answer"
              value="4-Grave"
            />
            <label for="sixth-answer-4">A sensação de cabeça vazia ou de tonturas fazem com que caia ou desmaie.</label>
          </div>
        </div>
        <div class="question">
          <p>
            7. Durante a última semana, sentiu-se habitualmente fatigado? Esta sensação
            não é por estar com sono ou triste.
          </p>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="seventh-answer-0"
              name="seventh-answer"
              value="0-Normal"
              checked
            />
            <label for="seventh-answer-0">Sem fadiga.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="seventh-answer-1"
              name="seventh-answer"
              value="1-Discreta"
            />
            <label for="seventh-answer-1">Sinto fadiga. No entanto, não me causa dificuldade em fazer coisas ou em estar com pessoas.</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="seventh-answer-2"
              name="seventh-answer"
              value="2-Ligeiro"
            />
            <label for="seventh-answer-2">A fadiga causa-me alguma dificuldade em fazer coisas ou em estar com pessoas</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="seventh-answer-3"
              name="seventh-answer"
              value="3-Moderado"
            />
            <label for="seventh-answer-3">A fadiga causa-me muita dificuldade em fazer coisas ou em estar com pessoas. No entanto, não me impede de fazer nada</label>
          </div>
          <hr>
          <div class="answer">
            <input
              type="radio"
              id="seventh-answer-4"
              name="seventh-answer"
              value="4-Grave"
            />
            <label for="seventh-answer-4">A fadiga impede-me de fazer coisas ou de estar com pessoas.</label>
          </div>
        </div>

        <div class="button-div">
          <input type="button" class="btn" id="anterior" value="< Anterior" />
          <input type="button" class="btn" id="seguinte" value="Seguinte >" />
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/assessment.js') }}"></script>
  </body>
</html>
