<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/assessment.css') }}"
    />
    <title>Mentalist</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/brain.ico') }}"
    />
  </head>
  <body>
    <div class="container">
      <div action="/assessment" class="sign-up-form" method="POST">
        <h2 class="title" id="title">{{ assessment['name'] }}</h2>
        {% if assessment['name'] == 'Sintomas' %}
        <div class="medication" id="medication-div">
          <p>Adicionar horário de medicação:</p>
          <input type="time" id="medication" name="medication" class="input-field">
        </div>
        {%  endif %}
        {% for question in assessment['questions'] %}
        <div class="question question-{{ loop.index - 1}}">
          <p> {{ loop.index }}. {{ question['question'] }}</p>
          <hr>
          {% set outer_loop = loop %}
          {% for answer in question['answers'] %}
          <div class="answer">
            <input
              type="radio"
              id="question{{outer_loop.index - 1}}-answer{{loop.index - 1}}"
              name="question{{outer_loop.index - 1}}"
              value="{{loop.index}}"
              {% if loop.index == 1 %}
              checked
              {% else %}
              unchecked
              {% endif %}
            />
            <label for="question{{outer_loop.index - 1}}-answer{{loop.index - 1}}">{{ answer }}</label>
          </div>
          {% endfor %}
          
        </div>
        {% endfor %}
        <div class="button-div">
          <input type="button" class="btn" id="anterior" value="< Anterior" />
          <input type="button" class="btn" id="seguinte" value="Seguinte >" />
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/assessment.js') }}"></script>
  </body>
</html>
