<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/assessment_list.css') }}"
    />
    <title>Parkinson</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/brain.ico') }}"
    />
  </head>
  <body>
    <div class="gamesContainer">
      <div class="gamesDiv">
        {% if assessmentList %}
          <div class="title">Testes:</div>
          {% for assessment in assessmentList %}
          <span class="listDiv assessment-data" onclick="changeDisplay('assessment-data-{{assessment.id}}')">
            <span class="align-center"><p>{{ assessment.currentTime.strftime('%d/%m/%y %H:%M') }}</p></span>
            <div class="question-data" id="assessment-data-{{assessment.id}}">
              {% for i in range(assessment.questions|length) %}
              <br>
              <span class="align-center"><p>{{ assessment.questions[i].question }}</p></span>
              <p><b>{{ assessment.questions[i].answer }}</b></p>
              {% endfor %}
            </div>
          </span>
          {% endfor %}
        {% else %}
          <div class="title">Sem dados.</div>
        {% endif %}
      </div>
      <button id="back" class="btn">< Voltar</button>
    </div>
    <script src="{{ url_for('static', filename='js/assessment_list.js') }}"></script>
  </body>
</html>
