<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parkinson</title>
    <link rel="icon" href="{{ url_for('static', filename='images/brain.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games/game1.css') }}"/>

  </head>
  <body>
    <div class="pre-game" id="pre-game">
        <h1 id="title" class="title" style="color: red;">404 - Página não encontrada</h1>
        <br><br>
        <a href="/backToMain">Voltar à página inicial.</a>
    </div>
  </body>
</html>