<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='js/font-awesome.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/games_list.css') }}"
    />
    <title>Parkinson</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/brain.ico') }}"
    />
  </head>
  <body>
    <div class="gamesContainer">
      <div class="gamesDiv">
        {% if gamesList %}
          <div class="title">Jogos:</div>
          {% for game in gamesList %}
          <span class="listDiv game-data" onclick="changeDisplay('game-data-{{game.id}}')">
            <span class="align-center"><p>{{ game.currentTime.strftime('%d/%m/%y %H:%M') }}</p></span>
            <div class="game-data-inner" id="game-data-{{game.id}}">
              <p>Resultado: {{ game.score }} {{ typeOfActions[game.gameTypeIndex - 1] }}</p>
              <p>Jogo: {{ availableGames[game.gameTypeIndex - 1] }}</p>
              <br>
              <p>Recorde: {{ recordAvailableGames[game.gameTypeIndex - 1] }} {{ typeOfActions[game.gameTypeIndex - 1] }}</p>
            </div>
          </span>
          {% endfor %}
        {% else %}
          <div class="title">Sem dados.</div>
        {% endif %}
      </div>
      <button id="back" class="btn">< Voltar</button>
    </div>
    <script src="{{ url_for('static', filename='js/games_list.js') }}"></script>
  </body>
</html>
