<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='js/font-awesome.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/games_list.css') }}"
    />
    <title>Parkinson</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/brain.ico') }}"
    />
  </head>
  <body>
    <div class="gamesContainer">
      <div class="title">Jogos:</div>
      <div class="gamesDiv">
        {% for game in games %}
        <span class="listDiv">
          <span class="align-center">
            <p>Score: {{ game.score }}</p>
            <p>Jogo: {{ game.gameTypeIndex }}</p>
          </span>
        </span>
        {% endfor %}
      </div>
      <div class="listDiv" id="back">< Voltar</div>
    </div>
    <script src="{{ url_for('static', filename='js/games_list.js') }}"></script>
  </body>
</html>
