<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_menu.css') }}"/>
    <title>Mentalist</title>
    <link rel="icon" href="{{ url_for('static', filename='images/brain.ico') }}">
  </head>
  <body>
    <div class="container">
      <div class="image_div align-center">
        <a href="/">
          <img src="{{ url_for('static', filename='images/doctor.png') }}" class="image" alt="" />
        </a>
      </div>
      <div class="button-list">
        {% for option in options %}
        <input type="button" id="option-{{loop.index}}" value="{{option['name']}}" class="btn" onclick="chooseButton({{loop.index}})"/>
        {% endfor %}
        <input type="button" id="back" value="< Voltar" class="btn"/>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/info_choose.js') }}"></script>
  </body>
</html>
