<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='js/font-awesome.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_signup.css') }}"/>
    <title>Parkinson</title>
    <link rel="icon" href="{{ url_for('static', filename='images/brain.ico') }}">
  </head>
  <body>
    {% if typeOfContainer %}
    <div class="container sign-up-mode">
    {% else %}
    <div class="container">
    {% endif %}
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/login" class="sign-in-form" method="POST">
            <h2 class="title">Iniciar Sessão</h2>

            {% if error %}
              <div role="alert" class="error-message">
                {{ error }}
              </div>
            {% endif %}

            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Nome de Utilizador" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Palavra-passe" />
            </div>
            <input type="submit" value="Iniciar Sessão" class="btn solid" />
          </form>
          <form action="/signup" class="sign-up-form" method="POST">
            <h2 class="title">Registo</h2>

            {% if error %}
              <div role="alert" class="error-message">
                {{ error }}
              </div>
            {% endif %}

            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Nome de Utilizador" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Palavra-passe" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password_confirm" placeholder="Confirmar palavra-passe" />
            </div>
            <input type="submit" class="btn" value="Registar" />
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Bem vindo</h3>
            <p>
              Ainda não tem conta? Comece por registar-se
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Registo
            </button>
          </div>
          <img src="{{ url_for('static', filename='images/elder1.svg') }}" class="image image1" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Bem vindo</h3>
            <p>
              Já tem conta? Inicie sessão para continuar
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Iniciar sessão
            </button>
          </div>
          <img src="{{ url_for('static', filename='images/elder2.svg') }}" class="image image2" alt="" />
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/login_signup.js') }}"></script>
  </body>
</html>
