<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_menu.css') }}"/>
    <title>Mentalist</title>
    <link rel="icon" href="{{ url_for('static', filename='images/brain.ico') }}">
    <link rel="manifest" href="./manifest.json">
  </head>
  <body>
    <div class="container">
        <div class="image_div align-center">
          <a href="/">
            <img src="{{ url_for('static', filename='images/doctor.png') }}" class="image" alt="" />
          </a>
        </div>
        <div class="button-list align-center">
            <input type="button" id="sente" value="Como estãos os sintomas?" class="btn" />
            <input type="button" id="games" value="Jogar" class="btn" />
            <input type="button" id="assessment" value="Questionário" class="btn" />
            <input type="button" id="info" value="Informações" class="btn" />
            <input type="button" id="account" value="Conta" class="btn" />
            <input type="button" id="logout" value="Terminar Sessão" class="btn" />
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/main_menu.js') }}"></script>
  </body>
</html>
