@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  user-select: none
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  flex-grow: 1;
  margin-top: 5vh;
  display: none;
}

.pre-game {
  text-align: center;
  font-size: 1rem;
  color: #444;
  margin: 5vh auto;
  margin-bottom: 0;
  text-align: center;
}

.jogo {
    height: 95%;
    margin-left: 5%;
    margin-right: 5%;
    background: #5995fd;
    font-family: "Courier";
}

.timer {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
}

p {
  margin: 20px;
}

button {
  width: 60vw;
  border: 2px #5995fd solid;
  color: #5995fd;
  background-color: #fff;
  outline: none;
  height: 150px;
  font-size: 1.5em;
  border-radius: 49px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20vw;
  cursor: pointer;
  transition: 0.5s;
}