@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  flex-grow: 1;
  margin-top: 5vh;
  display: none;
}

.pre-game {
  text-align: center;
  font-size: 1rem;
  color: #444;
  margin: 5vh auto;
  margin-bottom: 0;
  text-align: center;
}

.content {
    height: 95%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}

#timer {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    font-family: "Courier";
}

p {
  margin: 20px 5vw;
}

.button-div {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 50%;
  left: 20%;
}

.btn {
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 75px;
  font-size: 1.5rem;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  display: inline;
  width: 49%;
}

#record {
    margin-top: 30%;
}

.hidden {
    display: none;
}


@media (max-width: 870px) {
  .button-div {
    width: 80%;
    left: 10%;
  }

  .btn {
    height: 50px;
    font-size: 1.2rem;
  }
}

@media (max-width: 570px) {
  .btn {
      font-size: 1rem;
  }
}
